$theme-colors: (
    primary: #007bff,
    secondary: #6c757d,
    success: #28a745,
    info: #17a2b8,
    warning: #ffc107,
    danger: #dc3545,
    light: #000,
    dark: #343a40,
    bs-body-bg: #000,
);

@import "~bootstrap/scss/bootstrap";